#counter-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list-and-map {
    display: flex;
}

.map-pin {
    stroke: rgb(138, 2, 2);
    fill: rgb(255, 79, 79);
    stroke-width: 2;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.map-pin-selected {
    /* make slightly larger and make lighter */
    transform: scale(1.4);
    fill: rgb(0, 140, 255);
    stroke: rgb(0, 69, 125);
}

.error-message {
    color: red;
    font-size: 1.2em;
}

.hidden {
    display: none !important;
}
